{% extends "base.html" %}
{% block page_title %}{{ title }}{% endblock page_title %}
{% block content %}

<div class="posts">
	<h1 class="content-subhead">
		<a id="title" href="/">Blog</a>
	</h1>

	<section class="post">

		<header class="post-header">
			<img width="48" height="48" alt="{{ post.author }}&#x27;s avatar" class="post-avatar" src="{% static '/static/img/common/ericf-avatar.png' %}">

			<h2 class="post-title">{{ title }}</h2>

			<p class="post-meta">
				By <a class="post-author" href="#">{{ author }}</a>
				{# under <a class="post-category post-category-js" href="#">{{ tags }}</a> #}
				posted on {{ date|date:"M j" }}
			</p>

			<p>{{ headline }}</p>
		</header>

		<div class="post-description">
			{% block body %}{% endblock body %}
		</div>

		<nav id="post-nav">
			<span class="prev">
				{% if prevPost %}
					<a href='/{{ prevPost.path }}'>
						<span class="arrow">&larr;</span> {{ prevPost.title }}
					</a>
				{% endif %}
			</span>


			<span class="next">
				{% if nextPost %}
					<a href='/{{ nextPost.path }}'>
						{{ nextPost.title }} <span class="arrow">&rarr;</span>
					</a>
				{% endif %}
			</span>
		</nav>

	</section>

</div>

{% endblock content %}