{% extends "base.html" %}

{% block page_title %}Home{% endblock %}

{% block content %}

	<div class="posts">
		<h1 class="content-subhead">Recent Posts</h1>

		{% for post in posts %}
			<section class="post">
				<header class="post-header">
					<img width="48" height="48" alt="{{ post.author }}&#x27;s avatar" class="post-avatar" src="{% static '/static/img/common/ericf-avatar.png' %}">

					<a href='/{{ post.path }}'>
						<h2 class="post-title">{{ post.title }}</h2>
					</a>

					<p class="post-meta">
						By <a class="post-author" href="#">{{ post.author }}</a>
						{# under <a class="post-category post-category-js" href="#">{{ post.tags }}</a> #}
						posted on {{ post.date|date:"M j" }}
					</p>
				</header>

				<div class="post-description">
					<p>{{ post.headline }}</p>
				</div>
			</section>
		{% endfor %}
	</div>
	
{% endblock content %}
